Repository YAPP-Github/26th-Web-Team-1-FE, pull requests merged in 2025-07, with the labels that each got.

#80 chore: 누락된 login 페이지 변경사항 추가 (#79)
  src/app/(auth)/login/_styles/Login.css.ts
  src/app/(auth)/login/page.tsx
Labels: 🔧 chore

#83 feat: 온보딩 페이지 구현 및 CheckBox 컴포넌트 생성 (#38)
  package.json
  pnpm-lock.yaml
  src/app/(auth)/_api/auth/auth.queries.ts
  src/app/(auth)/login/callback/page.tsx
  src/app/layout.css.ts
  src/app/member/_api/index.ts
  src/app/member/_api/member.api.ts
  src/app/member/_api/member.queries.ts
  src/app/member/_api/member.types.ts
  src/app/member/_schemas/index.ts
  src/app/member/_schemas/member.schema.ts
  src/app/member/_types/index.ts
  src/app/member/_types/member.types.ts
  src/app/member/_utils/index.ts
  src/app/member/_utils/phoneNumberUtils.ts
  src/app/member/onboarding/_components/AgreeStep/AgreeStep.css.ts
  src/app/member/onboarding/_components/AgreeStep/AgreeStep.tsx
  src/app/member/onboarding/_components/AgreeStep/index.ts
  src/app/member/onboarding/_components/NicknameStep/NicknameStep.css.ts
  src/app/member/onboarding/_components/NicknameStep/NicknameStep.tsx
  src/app/member/onboarding/_components/NicknameStep/index.ts
  src/app/member/onboarding/_components/OnboardingFunnel/OnboardingFunnel.tsx
  src/app/member/onboarding/_components/OnboardingFunnel/index.ts
  src/app/member/onboarding/_components/OnboardingTitle/OnboardingTitle.tsx
  src/app/member/onboarding/_components/OnboardingTitle/index.ts
  src/app/member/onboarding/_components/PhoneNumberStep/PhoneNumberStep.css.ts
  src/app/member/onboarding/_components/PhoneNumberStep/PhoneNumberStep.tsx
  src/app/member/onboarding/_components/PhoneNumberStep/index.ts
  src/app/member/onboarding/_constants/agreement.constants.ts
  src/app/member/onboarding/_types/index.ts
  src/app/member/onboarding/_types/onboarding.types.ts
  src/app/member/onboarding/layout.css.ts
  src/app/member/onboarding/layout.tsx
  src/app/member/onboarding/page.tsx
  src/components/ui/CheckBox/CheckBox.css.ts
  src/components/ui/CheckBox/CheckBox.stories.tsx
  src/components/ui/CheckBox/CheckBox.tsx
  src/components/ui/CheckBox/index.ts
  src/lib/api/client.ts
  src/lib/api/type.ts
  src/styles/reset.css.ts
Labels: ✨ feature

#88 feat: AlertModal 컴포넌트 생성 (#87)
  package.json
  pnpm-lock.yaml
  src/components/ui/AlertModal/AlertModal.css.ts
  src/components/ui/AlertModal/AlertModal.stories.tsx
  src/components/ui/AlertModal/AlertModal.tsx
  src/components/ui/AlertModal/index.ts
  src/components/ui/GNB/GNB.css.ts
  src/styles/reset.css.ts
  src/styles/zIndex.css.ts
Labels: ✨ feature

#94 refactor: BottomSheet Compound 패턴 적용 (#93)
  src/app/(auth)/login/_styles/Login.css.ts
  src/app/member/onboarding/layout.css.ts
  src/app/member/profile/_components/Banner/Banner.tsx
  src/assets/logo-wordmark.svg
  src/components/ui/BottomSheet/BottomSheet.css.ts
  src/components/ui/BottomSheet/BottomSheet.stories.tsx
  src/components/ui/BottomSheet/BottomSheet.tsx
  src/components/ui/BottomSheet/BottomSheetBody.tsx
  src/components/ui/BottomSheet/BottomSheetContent.tsx
  src/components/ui/BottomSheet/BottomSheetFooter.tsx
  src/components/ui/BottomSheet/BottomSheetRoot.tsx
  src/components/ui/BottomSheet/BottomSheetTitle.tsx
  src/components/ui/BottomSheet/BottomSheetTrigger.tsx
  src/components/ui/BottomSheet/index.ts
  src/components/ui/Button/Button.css.ts
  src/components/ui/TextButton/TextButton.css.ts
  src/components/ui/TextField/TextField.css.ts
  src/components/ui/TextField/TextField.tsx
  src/components/ui/TextField/index.ts
  src/styles/reset.css.ts
  src/styles/typography.css.ts
Labels: ♻️ refactor

#100 feat: 스토리 등록 구현 (#84)
  src/app/(home)/_components/Story/Story.tsx
  src/app/(home)/_components/Story/index.ts
  src/app/(home)/_components/index.ts
  src/app/(home)/layout.tsx
  src/app/(home)/page.tsx
  src/app/layout.tsx
  src/app/story/[id]/page.tsx
  src/app/story/register/_api/index.ts
  src/app/story/register/_api/register.api.ts
  src/app/story/register/_api/register.queries.ts
  src/app/story/register/_api/register.types.ts
  src/app/story/register/_components/StoryDescription/StoryDescription.css.ts
  src/app/story/register/_components/StoryDescription/StoryDescription.tsx
  src/app/story/register/_components/StoryDescription/index.ts
  src/app/story/register/_components/StoryImagePreview/StoryImagePreview.css.ts
  src/app/story/register/_components/StoryImagePreview/StoryImagePreview.tsx
  src/app/story/register/_components/StoryImagePreview/index.ts
  src/app/story/register/_components/StorySearchStore/StorySearchStore.css.ts
  src/app/story/register/_components/StorySearchStore/StorySearchStore.tsx
  src/app/story/register/_components/StorySearchStore/index.ts
  src/app/story/register/_components/StorySubmitButton/StorySubmitButton.tsx
  src/app/story/register/_components/StorySubmitButton/index.ts
  src/app/story/register/_contexts/UploadContext.tsx
  src/app/story/register/_contexts/index.ts
  src/app/story/register/_schemas/index.ts
  src/app/story/register/_schemas/storyRegister.schema.ts
  src/app/story/register/page.css.ts
  src/app/story/register/page.tsx
  src/assets/cancel.svg
Labels: ✨ feature

#102 bug: 스토리 등록 페이지 빌드 오류 해결 (#101)
  src/app/story/register/_components/StoryImagePreview/StoryImagePreview.tsx
  src/styles/reset.css.ts
Labels: 🐛 bug

#105 feat: 응원 등록 기능 구현
  package.json
  pnpm-lock.yaml
  src/app/(cheer)/_api/cheer.api.ts
  src/app/(cheer)/_api/cheer.queries.ts
  src/app/(cheer)/_api/cheer.types.ts
  src/app/(cheer)/_api/index.ts
  src/app/(store)/stores/[storeId]/_components/StoreCheers/StoreCheers.tsx
  src/app/(store)/stores/register/_components/ProgressBar/ProgressBar.css.ts
  src/app/(store)/stores/register/_components/ProgressBar/ProgressBar.tsx
  src/app/(store)/stores/register/_components/ProgressBar/index.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/RegisterFunnel.tsx
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/ImagesStep/ImagesStep.css.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/ImagesStep/ImagesStep.tsx
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/ImagesStep/index.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/StoreInfoStep/StoreInfoStep.css.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/StoreInfoStep/StoreInfoStep.tsx
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/StoreInfoStep/index.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/SupportTextStep/SupportTextStep.css.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/SupportTextStep/SupportTextStep.tsx
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/SupportTextStep/index.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/_components/index.ts
  src/app/(store)/stores/register/_components/RegisterFunnel/index.ts
  src/app/(store)/stores/register/_components/StoreRegisterGNB/StoreRegisterGNB.tsx
  src/app/(store)/stores/register/_components/StoreRegisterGNB/index.ts
  src/app/(store)/stores/register/_components/index.ts
  src/app/(store)/stores/register/_constants/index.ts
  src/app/(store)/stores/register/_constants/storeRegister.constants.ts
  src/app/(store)/stores/register/_schemas/index.ts
  src/app/(store)/stores/register/_schemas/storeRegister.schema.ts
  src/app/(store)/stores/register/layout.css.ts
  src/app/(store)/stores/register/layout.tsx
  src/app/(store)/stores/register/page.tsx
  src/app/(store)/stores/register/success/page.tsx
  src/app/layout.tsx
  src/assets/plus.svg
  src/providers/OverlayProvider.tsx
  src/providers/index.ts
Labels: ✨ feature

#108 feat: 홈화면 스토리 리스트 조회 구현 (#107)
  public/favicon.ico
  public/images/icons/pwa-192.png
  public/images/icons/pwa-512.png
  src/app/(home)/_components/Header/Header.tsx
  src/app/(home)/_components/Header/index.ts
  src/app/(home)/_components/Story/AddStoryAvatar/AddStoryAvatar.css.ts
  src/app/(home)/_components/Story/AddStoryAvatar/AddStoryAvatar.tsx
  src/app/(home)/_components/Story/AddStoryAvatar/index.ts
  src/app/(home)/_components/Story/Story.css.ts
  src/app/(home)/_components/Story/Story.tsx
  src/app/(home)/_components/Story/StoryList/StoryList.css.ts
  src/app/(home)/_components/Story/StoryList/StoryList.tsx
  src/app/(home)/_components/Story/StoryList/index.ts
  src/app/(home)/layout.tsx
  src/app/(home)/page.tsx
  src/app/layout.tsx
  src/app/story/_api/index.ts
  src/app/story/_api/stories.api.ts
  src/app/story/_api/stories.queries.ts
  src/app/story/_api/stories.types.ts
  src/app/story/register/_api/register.queries.ts
  src/assets/market.svg
  src/assets/person.svg
Labels: ✨ feature
